<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="doseTypeFormService.form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        placeholder="Dose Type Name*"
        formControlName="UsageDoseType_Name"
      />
      <mat-error>Please enter a Dosing Type</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="Description"
        formControlName="UsageDoseType_Description"
      />
      <mat-error>Please enter a description</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-slide-toggle
      *ngIf="title.includes('Edit')"
      matInput
      formControlName="UsageDoseType_IsActive"
    >
      Dose Type Status</mat-slide-toggle
    >
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    <button
      mat-raised-button
      mat-primary
      type="submit"
      [disabled]="doseTypeFormService.form.invalid"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
