<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="InteractionAlcoholFormService.form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        placeholder="Alcohol Name*"
        formControlName="Alcohol_Name"
      />
      <mat-error>Please provide an Alcohol Name</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="Description"
        formControlName="Alcohol_Description"
      />
      <mat-error>Please enter a description</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-slide-toggle
      *ngIf="title.includes('Edit')"
      matInput
      formControlName="Alcohol_IsActive"
    >
      Active Alcohol</mat-slide-toggle
    >
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    <button
      mat-raised-button
      mat-primary
      type="submit"
      [disabled]="InteractionAlcoholFormService.form.invalid"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
