<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="volumeUnitsFormService.form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        placeholder="Volume Unit Name*"
        formControlName="VolumeUnit_Name"
      />
      <mat-error>Please enter a Volume Unit Name</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="Description"
        formControlName="VolumeUnit_Description"
      />
      <mat-error>Please enter a description</mat-error>
    </mat-form-field>
    <mat-slide-toggle
      *ngIf="title.includes('Edit')"
      matInput
      formControlName="VolumeUnit_IsActive"
    >
      Volume Unit Status</mat-slide-toggle
    >
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    <button
      mat-raised-button
      mat-primary
      type="submit"
      [disabled]="volumeUnitsFormService.form.invalid"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
