<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="sizeUnitsFormService.form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        formControlName="SizeUnit_Name"
        placeholder="Size Unit Name*"
      />
      <mat-error>Please enter a size unit Name</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        formControlName="SizeUnit_Description"
        placeholder="Description"
      />
      <mat-error>Please enter a description</mat-error>
    </mat-form-field>
    <mat-slide-toggle
      *ngIf="title.includes('Edit')"
      matInput
      formControlName="SizeUnit_IsActive"
    >
      Size Unit Status</mat-slide-toggle
    >
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    <button
      mat-raised-button
      mat-primary
      type="submit"
      [disabled]="sizeUnitsFormService.form.invalid"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
