<div id="left-sidebar" class="sidebar" *ngIf="sidebarVisible" style="overflow-y:scroll;">
  <div class="sidebar-scroll">
    <div class="user-account" *ngIf="authService.isLogedIn()">
      <img src="assets/images/user.png" class="rounded-circle user-photo" alt="User Profile Picture" />
      <div class="dropdown" ngbDropdown>
        <span>Welcome,</span>
        <a href="javascript:void(0);" class="dropdown-toggle user-name"
          ngbDropdownToggle><strong>{{ authService.currentUser.User_DisplayName }}</strong></a>
        <ul class="dropdown-menu dropdown-menu-right account" ngbDropdownMenu>
          <li>
            <a [routerLink]="['/admin/pages/page-profile2']"><i class="icon-user"></i>My Profile</a>
          </li>
          <li>
            <a [routerLink]="['/admin/app/app-inbox']"><i class="icon-envelope-open"></i>Messages</a>
          </li>
          <li>
            <a href="javascript:void(0);"><i class="icon-settings"></i>Settings</a>
          </li>
          <li class="divider"></li>
          <li (click)="authService.logOut()">
            <a [routerLink]="['/authentication/page-login']"><i class="icon-power"></i>Logout</a>
          </li>
        </ul>
      </div>
      <a class="icon-menu rxp-home-btt" [routerLink]="['/dashboard/index']">
        <i class="icon-home"></i>
      </a>
      <hr />
      <ul class="row list-unstyled">
        <li class="col-4 rxp-centered-container">
          <small>Pending</small>
          <h6>{{AnalityicData.MiniData[0]}}</h6>
        </li>
        <li class="col-4 rxp-centered-container">
          <small>Finished</small>
          <h6>{{AnalityicData.MiniData[1]}}</h6>
        </li>
        <li class="col-4 rxp-centered-container">
          <small>Inprogress</small>
          <h6>~</h6>
        </li>
      </ul>
    </div>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" title="Databases" [ngClass]="{ active: navTab == 'menu' }" (click)="changeNavTab('menu')">
          <i class="icon-grid"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" title="My Tasks" [ngClass]="{ active: navTab == 'tasks' }" (click)="changeNavTab('tasks')">
          <i class="icon-drawer"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" title="Settings" [ngClass]="{ active: navTab == 'setup' }" (click)="changeNavTab('setup')">
          <i class="icon-settings"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" title="Style" [ngClass]="{ active: navTab == 'style' }" (click)="changeNavTab('style')">
          <i class="icon-puzzle"></i>
        </a>
      </li>
    </ul>

    <!-- Tab panes (Pages) -->
    <div class="tab-content p-l-0 p-r-0 rxp-side-tabs-content">
      <!-- Menu tab  -->
      <div class="tab-pane" id="menu" [ngClass]="{ active: navTab == 'menu' || !navTab }">
        <nav id="left-sidebar-nav" class="sidebar-nav">
          <ul id="main-menu" class="metismenu">
            <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'dashboard' }">
              <a [routerLink]="['/dashboard/index']"><i class="icon-home"></i>
                <span>Dashboard</span>
              </a>
            </li> -->
            <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'manage-tasks' }">
              <a [routerLink]="['/manage-tasks']"><i class="icon-layers rxp-menu-icon-with-secondary"></i><i
                  class="icon-settings rxp-secondary-menu-icon"></i>
                <span>Manage Tasks</span>
              </a>
            </li> -->
            <!-- <li *ngIf="
                authService.isLogedIn() &&
                authService.currentUser.User_Permissions.includes(
                  'manageCMSSetup'
                )
              " [ngClass]="{ active: currentActiveMenu == 'sys-setup' }">
              <a class="has-arrow" (click)="activeInactiveMenu('sys-setup')"><i class="icon-settings"></i>
                <span>Setup</span></a>
              <ul *ngIf="currentActiveMenu == 'sys-setup'">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-pharmacological']">Pharmacological Categories</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-routes']">Routes</a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-forms']">Forms</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-strength-units']">Strength Units</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-weight-units']">Weight Units</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-volume-units']">Volume Units</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-size-units']">Size Units</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-medical-conditions']">Medical Conditions</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-dosing-age']">Dosing Age Categories</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-dose-types']">Dose Types</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-dose-units']">Dose Units</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-duration-units']">Duration Units</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-frequency-intervals']">Frequency Intervals</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-interaction-food']">Interaction Food List</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-interaction-herbs']">Interaction Herbs List</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-interaction-lab-tests']">Interaction Lab Tests List</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-interaction-alcohol']">Interaction Alcohol & Tobacco</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-pregnancy-category']">Pregnancy Category</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-lactation-category']">Lactation Category</a>
                </li>
              </ul>
            </li> -->
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'MasterAI' }">
              <a [routerLink]="['/ai/master-ai']"><i class="icon-chemistry"></i>
                <span>Master AI</span>
              </a>
            </li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'MasterTN' }">
              <a [routerLink]="['/tn/manage-master-tn']"><i class="fa fa-tint"></i>
                <span>Master TN</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- My Tasks Tab -->
      <div class="tab-pane p-l-15 p-r-15" id="Tasks" [ngClass]="{ active: navTab == 'tasks' }">
        <app-mytask> </app-mytask>
      </div>
      <!-- Setup tab  -->
      <div class="tab-pane" id="setup" [ngClass]="{ active: navTab == 'setup' }">
        <nav id="left-sidebar-nav" class="sidebar-nav">
          <ul id="main-menu" class="metismenu">
            <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'dashboard' }">
              <a [routerLink]="['/dashboard/index']"><i class="icon-home"></i>
                <span>Dashboard</span>
              </a>
            </li> -->
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
              [ngClass]="{ active: currentActiveMenu == 'manage-tasks' }">
              <a [routerLink]="['/manage-tasks']"><i class="icon-layers rxp-menu-icon-with-secondary"></i><i
                  class="icon-settings rxp-secondary-menu-icon"></i>
                <span>Manage Tasks</span>
              </a>
            </li>
            <li *ngIf="
                authService.isLogedIn() &&
                authService.currentUser.User_Permissions.includes(
                  'manageCMSSetup'
                )
              " [ngClass]="{ active: currentActiveMenu == 'sys-setup' }">
              <a class="has-arrow" (click)="activeInactiveMenu('sys-setup')"><i class="icon-settings"></i>
                <span>Setup</span></a>
              <ul *ngIf="currentActiveMenu == 'sys-setup'">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-pharmacological']">Pharmacological Categories</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-routes']">Routes</a>
                </li>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-forms']">Forms</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-strength-units']">Strength Units</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-weight-units']">Weight Units</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-volume-units']">Volume Units</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-size-units']">Size Units</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-medical-conditions']">Medical Conditions</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-dosing-age']">Dosing Age Categories</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-dose-types']">Dose Types</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-dose-units']">Dose Units</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-duration-units']">Duration Units</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-frequency-intervals']">Frequency Intervals</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-interaction-food']">Interaction Food List</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-interaction-herbs']">Interaction Herbs List</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-interaction-lab-tests']">Interaction Lab Tests List</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-interaction-alcohol']">Interaction Alcohol & Tobacco</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-pregnancy-category']">Pregnancy Category</a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                  <a [routerLink]="['/sys-setup/manage-lactation-category']">Lactation Category</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Change Style tab  -->
      <div class="tab-pane p-l-15 p-r-15" id="style" [ngClass]="{ active: navTab == 'style' }">
        <h6>Choose Mode</h6>
        <ul class="choose-skin list-unstyled">
          <li data-theme="white" [ngClass]="{ active: darkClass == '' }" (click)="changeDarkMode('')">
            <div class="white"></div>
            <span>Light</span>
          </li>
          <li data-theme="black" [ngClass]="{ active: darkClass == 'full-dark' }" (click)="changeDarkMode('full-dark')">
            <div class="black"></div>
            <span>Dark</span>
          </li>
        </ul>
        <hr />
        <h6>Choose Skin</h6>
        <ul class="choose-skin list-unstyled">
          <li data-theme="purple" [ngClass]="{ active: themeClass == 'theme-purple' }"
            (click)="changeTheme('theme-purple')">
            <div class="purple"></div>
            <span>Purple</span>
          </li>
          <li data-theme="blue" [ngClass]="{ active: themeClass == 'theme-blue' }" (click)="changeTheme('theme-blue')">
            <div class="blue"></div>
            <span>Blue</span>
          </li>
          <li data-theme="cyan" [ngClass]="{ active: themeClass == 'theme-cyan' }" (click)="changeTheme('theme-cyan')">
            <div class="cyan"></div>
            <span>Cyan</span>
          </li>
          <li data-theme="green" [ngClass]="{ active: themeClass == 'theme-green' }"
            (click)="changeTheme('theme-green')">
            <div class="green"></div>
            <span>Green</span>
          </li>
          <li data-theme="orange" [ngClass]="{ active: themeClass == 'theme-orange' }"
            (click)="changeTheme('theme-orange')">
            <div class="orange"></div>
            <span>Orange</span>
          </li>
          <li data-theme="blush" [ngClass]="{ active: themeClass == 'theme-blush' }"
            (click)="changeTheme('theme-blush')">
            <div class="blush"></div>
            <span>Blush</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>