<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="weightUnitsFormService.form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input
        matInput
        placeholder="Weight Unit Name*"
        formControlName="WeightUnit_Name"
      />
      <mat-error>Please enter a Weight Unit Name</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="Description"
        formControlName="WeightUnit_Description"
      />
      <mat-error>Please enter a description</mat-error>
    </mat-form-field>
    <mat-slide-toggle
      *ngIf="title.includes('Edit')"
      matInput
      formControlName="WeightUnit_IsActive"
    >
      Weight Unit Status</mat-slide-toggle
    >
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    <button
      mat-raised-button
      mat-primary
      type="submit"
      [disabled]="weightUnitsFormService.form.invalid"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
