<h2 mat-dialog-title>{{ title }}</h2>
<form [formGroup]="InteractionFoodFormService.form" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="Food Name*" formControlName="Food_Name" />
      <mat-error>Please enter a Food Name</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input
        matInput
        placeholder="Description"
        formControlName="Food_Description"
      />
      <mat-error>Please enter a description</mat-error>
    </mat-form-field>
    <mat-divider></mat-divider>

    <mat-slide-toggle
      *ngIf="title.includes('Edit')"
      matInput
      formControlName="Food_IsActive"
    >
      Active Food</mat-slide-toggle
    >
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
    <button
      mat-raised-button
      mat-primary
      type="submit"
      [disabled]="InteractionFoodFormService.form.invalid"
    >
      Submit
    </button>
  </mat-dialog-actions>
</form>
